<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
<!--    <button (click)="add()" nz-button nzType="primary">新建</button>-->
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="submit($event)" (formReset)="reset()"></sf>
  <st #st
      [data]="data"
      [columns]="columns"
      [loading]="loading"
      [pi] = "q.page"
      [ps] = "q.perpage"
      [total]= "total"
      [page]="pagination"
      (change)="change($event)"></st>
</nz-card>
